.upper-header {
  /* position: fixed;
  width: 100%; */
  padding: 13px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #670a18;
  background: #f0eedd;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.header-wrapper ul {
  display: grid;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  grid-template-columns: auto auto;
}
.middle-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
